
 .movie-object {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.movie-link {
    flex: 4;
}

.movies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

 .movie-poster {
    max-width: 100px;
    height: auto;
    border: 2px solid #ffffff
} 

.movie-title {
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: large;
}

#favorite-marker {
    color: red;
    justify-content: end;
    text-align: end;
}

#delete-marker {
    margin-left: 10px;
    color:gray;
}

#favorite-marker, #delete-marker {
    text-align: center;
    flex: 1;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

